<app-task-toolbar title="Lista de Tarefas" srcIcon="assets/logo.svg"></app-task-toolbar>

<div class="w-full py-8 md:px-32">
    <div *ngIf="alert" class="flex items-center px-4 py-3 text-sm font-bold text-white bg-blue-500" role="alert">
        <svg class="w-4 h-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
        <p>O seu objetivo deve ter pelo menos 2 letras. Pense grande!</p>
    </div>

    <div class="flex items-center w-full py-2 border-b border-teal-500">
        <input (keyup.enter)="addTask(taskInput)" #taskInput class="input-add" type="text" placeholder="Escreva seu novo objetivo aqui" aria-label="Objetivo">
        <button (click)="addTask(taskInput)" class="btn btn-blue" type="button">
        Adicionar
        </button>
    </div>

    <div class="overflow-hidden border-b border-gray-200 rounded shadow">
      <table class="min-w-full bg-white">
        <thead class="text-white bg-black">
          <tr>
            <th class="w-1/3 px-4 py-3 text-sm font-semibold text-left uppercase">Feito</th>
            <th class="w-1/3 px-4 py-3 text-sm font-semibold text-left uppercase">Objetivo</th>
            <th class="px-4 py-3 text-sm font-semibold text-left uppercase">Ação</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
            <tr class="border border-gray-400" *ngFor="let task of tasks; index as i">
                <td class="w-1/3 px-4 py-3">
                  <input (change)="doneTask(i)" type="checkbox">
                </td>
                <td [ngClass]="{'line-through': task.checked}" class="w-1/3 px-4 py-3 text-left">{{task.name}}</td>
                <td class="px-4 py-3 text-left">
                  <button (click)="deleteTask(i)" class="btn btn-red">
                    Excluir
                  </button>
                </td>
                <hr>
            </tr>
        </tbody>
      </table>
    </div>
</div>

